/* CLEARFIX HACK */
.row,
.clr,
.group { zoom: 1; } /* IE6 */

*:first-child+html .row,
*:first-child+html .clr,
*:first-child+html .group { zoom: 1; } /* IE7 */


.col {
    margin-left: 2%;
  }
  
.span_1 { width: 2.25% }
  .span_2 { width: 6.5% }
  .span_3 { width: 10.75% }
  .span_4 { width: 15.0% }
  .span_5 { width: 19.25% }
  .span_6 { width: 23.5% }
  .span_7 { width: 27.75% }
  .span_8 { width: 32.0% }
  .span_9 { width: 36.25% }
  .span_10 { width: 40.5% }
  .span_11 { width: 44.75% }
  .span_12 { width: 49.0% }
  .span_13 { width: 53.25% }
  .span_14 { width: 57.5% }
  .span_15 { width: 61.75% }
  .span_16 { width: 66.0% }
  .span_17 { width: 70.25% }
  .span_18 { width: 74.5% }
  .span_19 { width: 78.75% }
  .span_20 { width: 83.0% }
  .span_21 { width: 87.25% }
  .span_22 { width: 91.5% }
  .span_23 { width: 95.75% }
  .span_24 { width: 100% }
  
.clr-margin { margin-left: 0; }

.masthead-search { width: 185px; }