/* begin Page */

/* Created by Artisteer v3.0.0.39952 */

#login-page-background-glare
{
  zoom: 1;
}

#login-page-background-glare-image
{
  position:absolute;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/page_gl.png',sizingMethod='crop')");
  zoom: 1;
}

img
{
  filter: expression(artFixPNG(this));
}

.cleared 
{
    width:1px;
}
/* end Page */

/* begin Box, Sheet */
.login-sheet, .login-sheet-body
{
  zoom: 1;
}

.login-sheet-tr, .login-sheet-tl, .login-sheet-br, .login-sheet-bl, .login-sheet-tc, .login-sheet-bc,.login-sheet-cr, .login-sheet-cl
{
  font-size: 1px;
  background: none;
}

.login-sheet-tr, .login-sheet-tl, .login-sheet-br, .login-sheet-bl
{
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/sheet_s.png',sizingMethod='scale')");
}

.login-sheet-tl
{
  clip: rect(auto 17px 17px auto);
}

.login-sheet-tr
{
  left:expression(this.parentNode.offsetWidth-34+'px');
  clip: rect(auto auto 17px 17px);
}

.login-sheet-bl
{
  top: expression(this.parentNode.offsetHeight-34+'px');
  clip: rect(17px 17px auto auto);
}

.login-sheet-br
{
  top: expression(this.parentNode.offsetHeight-34+'px');
  left:expression(this.parentNode.offsetWidth-34+'px');
  clip: rect(17px auto auto 17px);
}

.login-sheet-tc, .login-sheet-bc
{
  width: expression(this.parentNode.offsetWidth-34+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/sheet_h.png',sizingMethod='scale')");
}

.login-sheet-tc
{
  clip: rect(auto auto 17px auto);
}

.login-sheet-bc
{
  top: expression(this.parentNode.offsetHeight-34+'px');
  clip: rect(17px auto auto auto);
}

.login-sheet-cr, .login-sheet-cl
{
  height: expression(this.parentNode.offsetHeight-34+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/sheet_v.png',sizingMethod='scale')");
}

.login-sheet-cr
{
  left:expression(this.parentNode.offsetWidth-34+'px');
  clip: rect(auto auto auto 17px);
}

.login-sheet-cl
{
  clip: rect(auto 17px auto auto);
}

.login-sheet-cc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-34+'px');
  height: expression(this.parentNode.offsetHeight-34+'px');
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/sheet_c.png',sizingMethod='scale')");
}
#login-page-background-top-texture, #login-page-background-middle-texture
{
  width: expression(document.body.clientWidth>900?"100%":"900px");
}

/* end Box, Sheet */

/* begin Header */
div.login-header-png
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/header.png',sizingMethod='crop')");
}

/* end Header */

/* begin Menu */
.login-hmenu ul
{
  width: 1px;
  height: 1%;
}

.login-hmenu li.login-hmenuhover
{
  z-index: 10000;
}

.login-hmenu .login-hmenuhoverUL
{
  visibility: visible;
  top: 100%;
  left: 0;
}

.login-hmenu .login-hmenuhoverUL .login-hmenuhoverUL
{
  top: 0;
  left: 100%;
}

.login-hmenu, .login-hmenu ul a
{
  height: 1%;
}

.login-hmenu li li
{
  float: left;
  width: 100%;
}

.login-nav
{
  zoom: 1;
  height: 32px;
}

.login-nav-l, .login-nav-r
{
  font-size: 1px;
  height: 32px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/nav.png',sizingMethod='crop')");
}

.login-nav-l
{
  width: expression(this.parentNode.offsetWidth-4+'px');
}

.login-nav-r
{
  left: expression(this.parentNode.offsetWidth-874+'px');
  clip: rect(auto auto auto 870px);
}

/* end Menu */

/* begin MenuItem */
.login-hmenu a
{
  display:inline-block;
}

.login-hmenu a:hover, .login-hmenuhoverA {
	visibility:visible;
}

.login-hmenu a .r, .login-hmenu a .l
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/menuitem.png',sizingMethod='crop')");
}

.login-hmenu a .r
{
  left:100%;
  margin-left:-400px;
  clip: rect(auto auto auto 400px);
}

.login-hmenu a .l
{
  width: expression(this.parentNode.offsetWidth-0+'px');
}

.login-hmenuhover .login-hmenuhoverA .t
{
  color: #D9E0E8;
}

.login-hmenuhover .login-hmenuhoverA .l, .login-hmenuhover .login-hmenuhoverA .r
{
  top: -24px;
}
/* end MenuItem */

/* begin MenuSubItem */
.login-hmenu ul a
{
  color: #152B38 !important;
}

.login-hmenu ul a:hover {
  color: #000000 !important;
}	

.login-hmenu ul .login-hmenuhover .login-hmenuhoverA
{
  color: #000000 !important;
  background-position: 0 -20px;
}

.login-nav .login-hmenu ul a:hover span, .login-nav .login-hmenu ul a:hover span span
{
  color: #000000 !important;
}	

.login-nav .login-hmenu ul .login-hmenuhover .login-hmenuhoverA span, .login-nav .login-hmenu ul .login-hmenuhover .login-hmenuhoverA span span
{
  color: #000000 !important;
}

/* end MenuSubItem */

/* begin Layout */
.login-content-layout, .login-content-layout-row {display: block;}
.login-content-layout, .login-content-layout-row {zoom: 1;}
/* end Layout */

/* begin Box, Block */
.login-block, .login-block-body
{
  zoom: 1;
}

.login-block-tr, .login-block-tl, .login-block-br, .login-block-bl, .login-block-tc, .login-block-bc,.login-block-cr, .login-block-cl
{
  font-size: 1px;
  background: none;
}

.login-block-tr, .login-block-tl, .login-block-br, .login-block-bl
{
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/block_s.png',sizingMethod='scale')");
}

.login-block-tl
{
  clip: rect(auto 1px 1px auto);
}

.login-block-tr
{
  left:expression(this.parentNode.offsetWidth-2+'px');
  clip: rect(auto auto 1px 1px);
}

.login-block-bl
{
  top: expression(this.parentNode.offsetHeight-2+'px');
  clip: rect(1px 1px auto auto);
}

.login-block-br
{
  top: expression(this.parentNode.offsetHeight-2+'px');
  left:expression(this.parentNode.offsetWidth-2+'px');
  clip: rect(1px auto auto 1px);
}

.login-block-tc, .login-block-bc
{
  width: expression(this.parentNode.offsetWidth-2+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/block_h.png',sizingMethod='scale')");
}

.login-block-tc
{
  clip: rect(auto auto 1px auto);
}

.login-block-bc
{
  top: expression(this.parentNode.offsetHeight-2+'px');
  clip: rect(1px auto auto auto);
}

.login-block-cr, .login-block-cl
{
  height: expression(this.parentNode.offsetHeight-2+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/block_v.png',sizingMethod='scale')");
}

.login-block-cr
{
  left:expression(this.parentNode.offsetWidth-2+'px');
  clip: rect(auto auto auto 1px);
}

.login-block-cl
{
  clip: rect(auto 1px auto auto);
}

.login-block-cc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-2+'px');
  height: expression(this.parentNode.offsetHeight-2+'px');
  background-color: #E2E8EE;
}
/* end Box, Block */

/* begin Box, BlockContent */
.login-blockcontent, .login-blockcontent-body
{
  zoom: 1;
}
.login-blockcontent-body ul li
{
  height: 1%;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/blockcontentbullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */

/* begin Button */
.login-button-wrapper, .login-button-wrapper .login-button-l, .login-button-wrapper .login-button-r
{
  zoom: 1;
}

.login-button-wrapper .login-button
{
  float: left;
}

.login-button-wrapper .login-button-l, .login-button-wrapper .login-button-r
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/button.png',sizingMethod='crop')");
}

.login-button-wrapper .login-button-r
{
  left:expression(this.parentNode.offsetWidth-411+'px');
  clip: rect(auto auto auto 400px);
}

.login-button-wrapper .login-button-l
{
  width: expression(this.parentNode.offsetWidth-11+'px');
}
/* end Button */

/* begin Box, Post */
.login-post, .login-post-body
{
  zoom: 1;
}
/* end Box, Post */

/* begin PostMetadata, PostMetadataHeader */
.login-postmetadataheader
{
    zoom:1;
    }

/* end PostMetadata, PostMetadataHeader */

/* begin PostBullets */
.login-post ul li, .login-post ol ul li
{
  height: 1%;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/postbullets.png',sizingMethod='crop')");
  padding-left: 13px;
  /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
  overflow-y: hidden;
}

.login-post ul ol li
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
  padding-left: 0;
  /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}
/* end PostBullets */

/* begin PostQuote */
.login-postcontent blockquote
{
  height: 1%;
  background-image: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/postquote.png',sizingMethod='crop')");
}
/* end PostQuote */

/* begin PostMetadata, PostMetadataFooter */
.login-postmetadatafooter
{
    zoom:1;
    }

/* end PostMetadata, PostMetadataFooter */

/* begin Footer */
.login-footer-body
{
    padding-right: 0;
  zoom:1;
}

.login-footer{
  zoom:1;
}

.login-footer-text
{
  height: 1px;
}

.login-footer-b 
{
  top: expression(this.parentNode.offsetHeight-4+'px');
  width: expression(this.parentNode.offsetWidth-8+'px');
  zoom: 1;
  font-size: 1px;
}

.login-footer-r, .login-footer-l
{
  top: expression(this.parentNode.offsetHeight-4+'px');
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/footer_s.png',sizingMethod='crop')");
  zoom: 1;
  font-size: 1px;
}

.login-footer-r
{
  left: expression(this.parentNode.offsetWidth-8+'px');
  clip: rect(auto auto auto 4px);
}

.login-footer-t
{
  zoom: 1;
  font-size: 1px;
  height: expression(this.parentNode.offsetHeight-4+'px');
  width: 100%;
}

/* end Footer */

/* begin LayoutCell, content */

.login-content {width: auto;}
.login-content-layout .login-layout-cell, .login-content-layout .login-layout-cell .login-content-layout .login-layout-cell
{
  display: block;
  position:relative;
  float: left;
  clear: right;
}
.login-content-layout .login-layout-cell, .login-content-layout .login-layout-cell .login-content-layout .login-layout-cell {zoom:1;}

/* end LayoutCell, content */

